.head{   
    font-family: 'Roboto Slab', serif;
}
.body{
    background-color:white;
    color: #336699;
}
.id1{ width: 400px;
}
.id2{ width: 630px;
    margin-left: 190px;
}
.id3{ display: flex;
        background-color: #336699;
}
.id4{ margin-left: 100px;
    color: white;
    text-align: left;
    width: 350px;
    font-size: 25px;
}
.id5{
    text-align: center;
    font-size: 42px;
}
a{
    text-align: right;
}